<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>React Boilerplate</title>
    </head>
    <body>
        <div id="app"></div>
        <% if(process.env.NODE_ENV === 'production') {%>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <% } %>
    </body>
</html>
